{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="section">
            <h1 class="is-size-3 has-text-centered">{{ title }}</h1>
            <div class="col1">

                <div class="buttons">
                    <a href="{{ path('app_wallet_add') }}" class="button is-primary">Top up Wallet</a>
                    <a href="{{ path('app_wallet_withdraw_view') }}" class="button is-warning">Withdraw from Wallet</a>
                </div>

                <section class="section">
                    <h3 class="is-size-5">Tokens</h3>
                    {% if tokens %}
                        <table class="table is-hoverable">
                            <caption>Total tokens in wallet: {{ tokens | length }}</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>name</th>
                                <th>amount</th>
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for token in tokens %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ token.name }}</td>
                                    <td>{{ token.amount }}</td>
                                    <td>
                                        <a href="#" class="button
                                        is-warning">Exchange</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You have no tokens.</p>
                    {% endif %}

                    <h3 class="is-size-5">Currencies</h3>
                    {% if currencies %}
                        <table class="table is-hoverable">
                            <caption>Total currencies in wallet: {{ currencies | length }}</caption>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>name</th>
                                <th>amount</th>
                                <th>action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for currency in currencies %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ currency.name }}</td>
                                    <td>{{ currency.amount }}</td>
                                    <td>
                                        <a href="#" class="button
                                        is-warning">Withdraw</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You have no currencies.</p>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}