{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="section">
            <h1 class="is-size-3 has-text-centered">{{ title }}</h1>
            <div class="col1">

                {% if matchOffer and actualOffer %}
                    <div class="order-info">
                        <div class="notification is-primary is-light mt-6">
                            <p>You will
                                <span class="is-uppercase is-bold is-size-3 pl-3 pr-2">{{ actualOffer.offerType }}</span>
                                tokens with follow conditions:
                            </p>
                        </div>
                    </div>

                    <div class="order-details is-flex is-justify-content-center mt-6 mb-6">
                        {% if matchOffer %}
                            <table class="table is-hoverable">
                                <caption>Order details</caption>
                                <thead>
                                <tr>
                                    <th>offer id</th>
                                    <th>token</th>
                                    <th>amount</th>
                                    <th>rate</th>
                                    <th>exchanged</th>
                                    <th>trader</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ matchOffer.id }}</td>
                                    <td>{{ matchOffer.currency.name }}</td>
                                    <td>{{ matchOffer.stock }}</td>
                                    <td>{{ matchOffer.rate }}</td>
                                    <td>{{ matchOffer.exchangedCurrency.name }}</td>
                                    <td>{{ matchOffer.user.name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <p>No order</p>
                        {% endif %}
                    </div>

                    <div class="buttons is-flex is-justify-content-center mb-6">
                        <a href="/order/pay/{{ matchOffer.id }}/{{ actualOffer.id }}" class="button is-primary">Pay
                            order</a>
                        <a href="/order/cancel/match-{{ matchOffer.id }}/actual-{{ actualOffer.id }}" class="button
                        is-danger
                        is-light">Cancel</a>
                    </div>

                {% else %}
                    <p>Something went wrong.</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}